/*
Pop-up styles (remember image paths are from root of your website!) - - - - */
.MultiBoxClose{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/close.png', sizingMethod='image');
}

.MultiBoxPrevious{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/left.png', sizingMethod='image');
}

.MultiBoxNext{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/right.png', sizingMethod='image');
}

.MultiBoxNextDisabled{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/rightDisabled.png', sizingMethod='image');
}

.MultiBoxPreviousDisabled{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/leftDisabled.png', sizingMethod='image');
}


/*
Overlay icon - - - - */
.OverlayIcon{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/layout/multibox/MagIcon.png', sizingMethod='image');
}