				<div id="tab_bar">
					<h1>Edit Article</h1>
					<ul>
						<li id="show_details_li"><a href="#" id="show_details">Article Details</a></li>
						<li id="show_content_li"><a href="#" id="show_content">Article Content</a></li>
					</ul>
				</div>
				
				<div id="main">

						<form id="edit_article" action="news_articles" method="post">
							<input type="hidden" name="action" value="edit_article" />
							<input type="hidden" name="article_ID" value="{$article.ID}" />
							
							<div id="article_details">
							
								<h3>Headline</h3>
								<p>
									<input type="text" name="headline" id="headline" class="text_field medium_textbox" value="{$article.Headline}" />
								</p>
								
								<h3>Date/Time</h3>
								<p>Use format 'yyyy-mm-dd hh:mm:ss'. Eg. {$sample_date}</p>
								<p>
									<input type="text" name="date_time" id="date_time" class="text_field medium_textbox" value="{$article.Date_Time}" />
								</p>
								
								<h3>Categories</h3>
								<p>
									<select name="categories[]" id="categories" class="text_field medium_textbox" multiple="multiple" size="8">
{foreach from=$categories key=categoryID item=category}
										<option value="{$category.ID}"{if $category.ID|in_array:$article.Categories} selected="selected"{/if}>{$category.Name}</option>
{/foreach}				
									</select>
								</p>
																
								<h3>Summary</h3>
								<p>Enter a summary for this article no more than 255 characters.</p>
								<p>
									<textarea name="summary" id="summary" class="text_field large_textbox">{$article.Summary}</textarea>
								</p>
								
								<h3>Article URL</h3>
								
								<p>Enter a URL for this page.  The URL is used to access this page from the web browser. Acceptable characters include A-Z, a-z, 0-9, underscores and spaces.</p>
								<p>
									<input type="text" name="article_url" id="article_url" class="text_field medium_textbox" value="{$article.URL}" disabled="disabled" />
									<input type="hidden" name="encoded_url" id="encoded_url" value="{$article.URL}" />
								</p>
								<p><em><strong>Sample URL: </strong><span id="sample_url">{$ROOT}news/{$article.URL}</span></em></p>
							
							</div>
							
							<div id="article_content">
							
								{$fck}
							
							</div>
							
						</form>
						
						
				</div>
						
						
				<div class="buttons_bar">
					<div class="loader"></div>
					<ul class="right">
						<li><span><a href="#" class="accept submit" id="save_articles">Save</a></span></li>
						<li><span><a href="news_articles" class="cancel">Cancel</a></span></li>
					</ul>				
				</div>
				
				<script type="text/javascript">
				
					var root_url = '{$ROOT|substr:0:-1}';
				
{literal}
				
					var article_details = $('article_details');
					var article_content = $('article_content');
					
					var show_details_li = $('show_details_li');
					var show_content_li = $('show_content_li');
					
					article_content.setStyle('display','none');
					show_details_li.addClass('selected');
					
					$('show_content').addEvent('click',function(e) {
						
						new Event(e).stop();
						article_content.setStyle('display','');
						article_details.setStyle('display','none');
						
						show_content_li.addClass('selected');
						show_details_li.removeClass('selected');
					
					});
					
					$('show_details').addEvent('click',function(e) {
						
						new Event(e).stop();
						article_content.setStyle('display','none');
						article_details.setStyle('display','');
						
						show_details_li.addClass('selected');
						show_content_li.removeClass('selected');
					
					});
					
					
					
					$('save_articles').addEvent('click',function(e) {
						
						new Event(e).stop();
						$$('.loader').each(function(loader) {
						
							$(loader).fade('in');
														
							$('edit_article').submit();
						
						});
					
					});
					
					var page_url = $('headline');
					var sample_url = $('sample_url');
					
					page_url.addEvent('keyup',function() {
					
						var sample = page_url.value;
						
						sample = sample.toString().toLowerCase();
						sample = sample.replace(/ /g,'-');
						sample = encodeURI(sample);
						sample = escape(sample);
												
						sample_url.set('text',root_url + sample);
						$('encoded_url').value = sample;
						$('article_url').value = sample;
					
					});
					
					
					$$('.text_field').each(function(tf) {
					
						$(tf).addEvent('focus',function() {
							$(tf).addClass('focus');
						});
						
						$(tf).addEvent('blur',function() {
							$(tf).removeClass('focus');
						});
					
					});
					
					
{/literal}
				
				</script>
				
				
				
				
						